@import "carbon-components/scss/globals/scss/spacing";

$color-primary-0: #084094; /* Main Primary color */
$color-primary-1: #2a69c7;
$color-primary-2: #0b56c4;
$color-primary-3: #063478;
$color-primary-4: #03275b;

$color-secondary-1-0: #ba005b; /* Main Secondary color (1) */
$color-secondary-1-1: #e31f7f;
$color-secondary-1-2: #e1006f;
$color-secondary-1-3: #96004a;
$color-secondary-1-4: #720038;

$color-secondary-2-0: #80cf00; /* Main Secondary color (2) */
$color-secondary-2-1: #a2f221;
$color-secondary-2-2: #96f200;
$color-secondary-2-3: #68a800;
$color-secondary-2-4: #4e7f00;

$color-complement-0: #e08d00; /* Main Complement color */
$color-complement-1: #ffae22;
$color-complement-2: #ffa100;
$color-complement-3: #b67300;
$color-complement-4: #895700;
